.boxVol{
    background-color: #F8F8F8;
    height: 45vh;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    padding: 4rem 2rem;

    .cardsV{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap:2rem;

        article{
        border: 1px solid black;
        border-radius: 8px;
        padding: 2rem;
        text-align: center;
            
            h2{
                margin-bottom: 1rem;
            }
        }
    }
    
}

.form{
    height: 90vh;
    background:#00745A;
    padding: 4rem 2rem;
    

    .contForm{
        border: 1px solid black;
        width: 80%;
        background-color: white;
        max-width: 900px;
        margin: 1rem auto;
        padding: 6rem 2rem;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        h2 {
            margin-bottom: 2rem;
            font-size: 1.4rem;
            font-weight: 600;
        }
    
        .boxForm{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                font-size: 1rem;
                margin-bottom: -10px;
                font-weight: 600;
            }
        }
    }
}

.dados{
    display: flex;
    gap: 20px;

  input {
    flex: 1;
  }
}

input,
textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.2s ease;

  &:focus {
    border-color: #0a6b4c;
  }
}

textarea{
    resize: none;
}

.info {
  text-align: center;
  font-size: 0.9rem;
  color: black;
}

.btn {
  width: 10rem;
  margin: 0 auto;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background: #0a6b4c;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #0d8059;
  }
}

// responsivo celular

@media (max-width: 768px) {
  .boxVol{
    height: auto;
    flex-wrap: wrap;
      h1{
        font-size: 1.5rem;
      }
      p{
        font-size: 0.95rem;
        text-align: center;
      }

      .cardsV{
        article{
          flex-direction: column;
          }
          h2{
            font-size: 1rem;
            
          p{
            font-size: 0.75rem;
          }
        }
      }
  } 



  .form{
    height: auto;
    .contForm{
      width: auto;
        h2{
          font-size: 1rem;
        }
    }
  }
}