.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 2px solid #c7c7c7;

    .boxLogo{
        display: flex;
        align-items: center;
        gap: 0.6rem;

        a{
            text-decoration: none;
            color:#000000;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    nav{
        display: flex;
        align-items: center;
        gap: 2rem;

        a{
            text-decoration: none;
            color:#000000;

            &:nth-child(2){
                background-color: #00745A;
                color:white;
                padding: 0.6rem 1.3rem;
                border-radius: 8px;
                font-weight: 600;
            }
        }
    }
}

// responsividade celular

@media (max-width: 768px) {
.header{
    .boxLogo{
        img{
            height: 30px;
            width: 30px;
        }
        a{
            font-size: 0.8rem;
        }
    }
    nav{
        font-size: 0.8rem;
    }

}
    
}