.footer{
    background-color: #0B0B0B;
    color:white;
    height: 45vh;
    flex-wrap: wrap;
    
    .containerF{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 6rem 2rem;
        

        article{
            display: flex;
            flex-direction: column;
            gap:0.6rem;
            width: 30vw;

            .linhaImg{
                display: flex;
                gap:0.5rem;
            }
            .linhaLogo{
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

        }
    }
}

.direito{
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
}